/*CONFIGURAÇÕES GERAIS PARA A TELA DE CADASTRO DE PRODUTOS*/
body {
    background-color: #F5FAFF;
    color: #1A1A1A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}