/*CONFIGURAÇÕES GERAIS PARA A TELA DE LOGIN  E DE CRIAR CONTA*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5FAFF;
}
