<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gerenciador de compras</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

    <!-- #region CABEÇALHO -->
    <header id="main-header">
    <div class="top-bar">

        <!-- Logo e nome do site -->
        <div class="logo">
        <h1>Compras</h1>
        </div>

        <!-- Localização -->
        <div class="localizacao">
        <button id="btn-localizacao" title="Definir localização">
            <img src="{{ url_for('static', filename='img/localizacao.png') }}" alt="Localização" />
            <span>Definir CEP</span>
        </button>
        </div>

        <!-- Barra de pesquisa -->
        <form id="search-form" class="search-form">
        <select id="category-filters" name="category"> 
            <option value="todos" selected>Todos</option>
            <!-- As opções serão adicionadas dinamicamente a partir do BD -->
        </select>

        <input type="text" id="search-term" name="search-term" placeholder="Pesquisar produtos" autocomplete="off" />

        <button id="btn-pesquisar" type="submit" aria-label="Buscar">
            <img src="{{ url_for('static', filename='img/busca.png') }}" alt="Buscar" />
        </button>
        </form>

        <!-- Ações do usuário -->
        <div class="user-actions">
            <a href="{{ url_for('login') }}" id="btn-usuario" title="Login">
                <img src="{{ url_for('static', filename='img/user.png') }}" alt="Usuário" />
            </a>
        </div>

    </div>
    <!-- #endregion -->

    <!-- #region Categorias -->
    <nav class="category-bar" aria-label="Categorias">
        <ul>
        <li>
            <button id="btn-minhas-listas" class="btn-categoria" type="button">
                <img src="{{ url_for('static', filename='img/menu2.png') }}" alt="" /> Minhas Listas
            </button>
        </li>
        <li><button class="btn-categoria" type="button">Ofertas</button></li>
        <li><button class="btn-categoria" type="button">Mais Vendidos</button></li>
        <li><button class="btn-categoria" type="button">Eletrônicos</button></li>
        <li><button class="btn-categoria" type="button">Casa</button></li>
        <li><a href="{{ url_for('create_product') }}" class="btn-categoria" title="Cadastro de produtos"> Cadastrar Produtos</a></li>
        </ul>
    </nav>
    </header>
    <!-- #endregion -->

    <!-- #region PAINEL DE LISTAS -->
    <aside id="list-panel" class="list-panel">
        <div class="list-header">
            <h2 id="list-panel-title">Listas de Compras</h2>
            <button id="close-list-panel" class="close-filter"><img src="{{ url_for('static', filename='img/close.png') }}" alt=""></button>
        </div>

        <div class="list-content" id="shopping-list-items">
            Você não possui listas.
        </div>

        <div class="list-footer" id="list-footer">
            <div>
                <strong>Preço total:</strong>
                <span id="total-price">R$0,00</span>
            </div>
            <button id="btn-create-list" class="btn-create-list">+ Nova Lista</button>
        </div>
    </aside>

    <!-- Criando Nova Lista de Compras-->
    <div id="modal-new-list" class="modal-new-list">
        <div class="modal-content">
            <form id="form-new-list">
                <h3>Criar Nova Lista</h3>
                <input type="text" id="input-list-name" name="list_name" placeholder="Nome da lista" required />
                <div class="modal-buttons">
                    <button type="submit" class="btn-save">Salvar</button>
                    <button type="button" id="btn-cancel" class="btn-cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Para Adicionar Produto à Lista -->
    <div id="modal-add-to-list" class="modal-add-to-list hidden">
        <div class="modal-content">
        <button class="close-popup" id="close-add-to-list" aria-label="Fechar">
            <img src="{{ url_for('static', filename='img/close.png') }}" alt="Fechar" />
        </button>
        <h3 class="popup-title">Adicionar Produto à Lista</h3>
        
        <div id="existing-lists" class="existing-lists">
            <!-- Botões das listas serão inseridos pelo JS -->
        </div>
    
        <div class="modal-buttons">
            <button id="btn-create-new-list" class="btn-save">Criar Nova Lista</button>
            <button id="btn-cancel-add-to-list" class="btn-cancel">Cancelar</button>
        </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region FILTROS DE BUSCA -->
    <button id="filter-toggle" class="filter-toggle">Filtros</button>
    <!-- Painel de seleção de filtros -->
    <aside id="filter-panel" class="filter-panel">
        <div class="filter-content">
          <button id="close-filter" class="close-filter"><img src="{{ url_for('static', filename='img/close.png') }}" alt=""></button>
          <h2>Filtrar por</h2>
      
          <label for="min-price">Preço mínimo:</label>
          <input type="number" id="min-price" placeholder="R$ 10,00">
      
          <label for="max-price">Preço máximo:</label>
          <input type="number" id="max-price" placeholder="R$ 100,00">
      
          <button id="apply-price-filters">Aplicar Filtros</button>
        </div>
    </aside>
    <!-- #endregion -->

    <!-- #region PÁGINA DO PRODUTO -->
    <section id="product-detail-view" class="product-detail-section hidden">
    
        <div class="product-detail-container">
            <!-- Imagem do Produto -->
            <div class="product-image-column">
            </div>

            <!-- Informações do Produto -->
            <div class="product-info-column">
                <span id="product-supermarket" class="supermarket-tag">Supermercado</span>
                <h1 id="product-name">Nome do Produto</h1>
                
                <div class="price-and-rating">
                    <span id="product-price" class="product-price">R$ 7,80</span>
                    <div class="rating-summary">
                        <span class="stars">★★★★★</span>
                        <span>5 (246 avaliações)</span>
                    </div>
                </div>

                <button id="btn-add-to-list"  class="btn-add-to-list">+ Lista</button>
            </div>
        </div>
    </section>
    <!-- #endregion -->


    <!-- #region FEED DE PRODUTOS -->
    <section class="product-feed" id="product-feed" aria-live="polite" aria-label="Lista de produtos">
        <!-- Os cards dos produtos serão criados dinamicamente com o JS-->
    </section>
    <!-- #endregion -->

    <script type="module" src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
