<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />  
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />

</head>
<body>
  
  <div class="login-container">
      
      <img src="{{ url_for('static', filename='img/user_login.png') }}" alt="user" class="user-icon">

      <form id="login-form">
          <div class="input-group">
              <input type="text" id="username" name="username" placeholder="Nome de usuário" required>
          </div>
          <div class="input-group">
              <input type="password" id="password" name="password" placeholder="Senha" required>
          </div>
          <button type="submit" class="btn-login">Entrar</button>
      </form>

      <div class="separator">
        <span>ou</span>
      </div>
    
      <a href="{{ url_for('register') }}" class="btn-create-account">Criar Conta</a>

  </div>

    <script type="module" src="{{ url_for('static', filename='scripts/account.js') }}"></script>
</body>
</html>